
/* The Main Header
---------------------------------------------------------------------------------------------------- */

#header {
  background-color: lighten($color-blue, 2);
  text-align: center;

  .inner {
    padding: 100px 0 100px;
    border-bottom: 1px dashed rgba(#ffffff, .75);

    @media ('max-width: 480px') {
      padding: 50px 0 43px;
    }

    img {
      height: 10vw;
      display: inline-block;
      margin-bottom: 12px;

      @media ('max-width: 900px') {
        height: 20vw;
        margin-bottom: 15px;
      }
    }

    .intro {
      h1 {
        @include font-large();
        margin-bottom: 14px;

        @media ('max-width: 900px') {
          font-size: 22px;
        }
      }

      span {
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 22px;
      }

      .open {
        height: 30px;
        display: inline-block;
        padding: 0 12px;
        background-color: #4086b0;
        border-radius: 15px;
        background-color: rgba(#ffffff, .75);
        font-size: 12px;
        font-weight: 900;
        line-height: 30px;
        text-transform: uppercase;
        color: $color-blue;
      }
    }
  }
}